.image-resize {
    height: 30%;
    width:30%;
    object-fit:cover;
    object-position: center center;

    @media (max-width: 500px) {
        height: 50%;
        width: 100%;
        max-width: fit-content;
        max-height: fit-content;
    }
}

.main-container {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    height: 100%;

    //flex-wrap: wrap;
}

.header {
    background-color: gray;
    height: 4rem;
    text-align: center;
}

.footer {
    height: 3rem;
    width: 100%;
    background-color: #333333;

    p.copyright {
        color: #fff;
        line-height: 40px;
        font-size: 0.7em;
        text-align: center;
    }
}

.middle-container{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;

    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.image-container {
    
}

.details-container {
    background-color: steelblue;
    padding: 1rem;

    .field-container {
        padding: 0.5rem;
    }

    .field {
        font-size: 1.2rem;
        color: darkgray;
    }

    .value {
        font-size: 1.2rem;
        color: black;
    }
}